@font-face {
    font-family: roboto regular;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    background-color: #121212;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

a {
    margin-inline: 1rem;
}

a, p {
    font-size: 2rem;
    font-family: roboto regular;
    color: #E7E7E7;
    transition: all 0.2s ease;
}

a:hover {
    color: #F2CD0A;
}