@font-face {
    font-family: roboto regular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto light;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: poiretOne;
    src: url(fonts/PoiretOne-Regular.ttf);
}


body {
    background-color: #121212;
    color: #E7E7E7;
    padding: 0px;
    margin: 0px;
    background-image: url(images/background.jpg);
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 100vw auto;
    overflow-x: hidden;
}

header {
    z-index: 19;
    padding: 0.5rem 1rem;
    border-radius: 0 0 1rem 1rem;
    border-bottom: 0.1rem solid #E7E7E7;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(18, 18, 18, 0.3);
    backdrop-filter: blur(0.2rem);
}

.logo {
    color:#E7E7E7;
    font-family: poiretOne;
    font-size: 2rem;
    margin: 0px;
    display: inline;
    transition: all 0.2s ease;
    text-decoration: none;
}

.logo:hover {
    cursor: default;
    background: linear-gradient(to right, #F55233, #F5BB00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav {
    display: inline;

}

nav a, header div a {
    margin-inline: 0.6rem;
    color: #E7E7E7;
    text-decoration: none;
    font-family: roboto regular;
    font-size: 1rem;
    transition: all 0.2s ease;
}

nav a:hover, header div a:hover {
    color: #A7A7A9;
}

header div {
    display: flex;
    align-items: center;
}

.location {
    display: inline-flex;
    align-items: center;
    margin-right: 0.6rem;
}

.location img {
    width: 1rem;
    height: auto;
    display: inline;
}

.location p {
    font-size: 1rem;
    display: inline;
    font-family: roboto regular;
    margin-left: 0.5rem;
}

.hello {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 2s ease;
    border-radius: 1rem;
}

.background2::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(18, 18, 18, 0.6);
}

.background1::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(18, 18, 18, 0.6);
}

.hello-card {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: hello-move 1s linear;
}

.hello-card p {
    margin: 0.5rem 0;
    font-family: roboto light;
}

.hello-card:hover {
    cursor: default;
}

#hello-title {
    font-size: 2.5rem;
}

@keyframes hello-move {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.background1, .background2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: opacity 4s ease-in-out;
}

.hidden {
    opacity: 0;
}

.about {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    padding: 5vh 5vw;
    justify-content: center;
    align-items: center;
}

.about img {
    width: 25rem;
    height: 25rem;
    margin-right: 10rem;
}

.about p {
    font-size: 2rem;
    font-family: roboto light;
}

hr {
    color: #A7A7A9;
    width: 80%;

}

.portfolio, .tariffs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5vh 5vw;
}

.portfolio div {
    display: flex;
    justify-content: space-between;
}

.female-portait, .black-n-white-portait, .others {
    width: 30%;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.female-portait img,  .black-n-white-portait img, .others img {
    width: 100%;
    height: auto;
    margin-block: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-family: roboto light;
    font-weight: 100;
}

.portfolio a {
    display: inline;
    color: #E7E7E7;
    font-family: roboto regular;
    text-decoration: none;
    align-self: flex-end;
}

.portfolio a:hover {
    color: #A7A7A9;
}


.tariffs-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30rem;
}

.tariff-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #A7A7A9 solid 0.1rem;
    border-radius: 3rem;
    width: 20rem;
    height: 25rem;
    padding: 2rem;
    background: rgba(18, 18, 18, 0.6);
    backdrop-filter: blur(0.3rem);
    transition: background 0.4s ease;
}

.tariff-card img {
    width: auto;
    height: 40%;
}

.tariff-card p {
    font-size: 1rem;
    font-family: roboto light;
}

.tariff-card a {
    font-family: roboto regular;
    color: #A7A7A9;
    text-decoration: none;
    border: #A7A7A9 solid 0.1rem;
    border-radius: 1.5rem;
    width: 50%;
    text-align: center;
    padding: 0.5rem;
}

.tariff-card h2 {
    margin: 0 0 0.5rem 0;
    text-align: center;

}

.tariff-card a:hover {
    border-color: #E7E7E7;
    color: #E7E7E7;
    
}

.tariff-card:hover {
    cursor: default;
    background: rgba(18, 18, 18, 0.8);
}

.contact {
    padding: 0.5rem 1rem;
    border-radius: 1rem 1rem 0 0;
    border-top: 0.1rem solid #E7E7E7;
    background-color: rgba(18, 18, 18, 0.8);
    backdrop-filter: blur(0.3rem);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column1, .column2 {
    display: flex;
    flex-direction: column;
}

.contact a {
    text-decoration: none;
}

.contact p {
    color:#E7E7E7;
    font-family: poiretOne;
    font-size: 2rem;
    margin: 0px;
    display: inline;
}

.contact .logo:hover {
    cursor: pointer;
}


.link {
    display: flex;
    align-items: center;
}

.link img {
    width: 1rem;
}

.link a {
    font-size: 1rem;
    font-family: roboto light;
    color: #E7E7E7;
    text-decoration: none;
    margin-left: 0.5rem;
}

.contact a, .contact p, .contact div {
    margin-bottom: 1rem;
}

.link a {
    margin-bottom: 0;
    transition: all 0.2s ease;
}

.link a:hover {
    color: #A7A7A9;
}

footer {
    background-color: rgba(18, 18, 18, 0.8);
    backdrop-filter: blur(0.3rem);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.1rem solid #A7A7A9;
    padding: 1rem 0;
}

footer a {
    color: #A7A7A9;
    text-decoration: none;
    font-family: roboto light;
    transition: all 0.2s ease;
}

footer a:hover {
    color: #E7E7E7;
}